*{
  margin:0;
  padding:0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
}
body{
  background-color: #F1F9FF;
}
body, .container{
  height: 100vh;
}

.container{
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 20px;
}
.card{
  display: flex;
  flex-direction: column;
}
.card .cards{
  padding: 10px;
  background-color: #fff;
  display: flex;
  margin-top: 20px ;
  flex-direction: column;
  width: 450px;
  height: 200px;
}

.card .cards .header{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .cards .header span{
  position: absolute;
  right: 5px;
}
.card .cards .body{
  margin-top: 10px;
  display: flex;
}
.card .cards .body .imgAndBtnStars{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 20px;
}
.card .cards .body .info{
  width: 310px;
  display: flex;
  flex-direction: column;
}
.card .cards .body .info div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.card .cards .body .info .techs{
  display: flex;
}
.card .cards .body .info .techs li{
  margin-left: 10px;
  display: flex;
}
